@charset "UTF-8";

/**
 * @author marianneanctil courriel
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Mise en page
 *** entête
 *** main
 *** formulaire
 *** interactivité
 *** footer
 */


/* Normalize
   ========================================================================== */
    /*@import url(normalize.css);*/

/* Charte typographique
   ========================================================================== */
   @import url(typo.css);

/* Grille
   ========================================================================== */
   @import url(grille.css);

/* Utilitaires
   ========================================================================== */
html {
    box-sizing: border-box;
    max-width:100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
/*screen reader*/
.screen-reader-only{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus{
    clip:auto;
    height:auto;
    margin:0;
    overflow:visible;
    position:static;
    width:auto;
}

img{
    max-width: 100%;
}
/* Mise en page
   ========================================================================== */
 body{
   line-height: 1.375;
   font-size: 1.6rem;
   background-image:linear-gradient(rgb(26, 116, 107), white);
 }
 .conteneur{
    background-color: white;
 }

 @media (min-width: 600px){
     /* cette classe étant déjà déclarée dans le fichier grille.css
        on peut simplement redéfinir le flex-wrap.
        On pourrait aussi le modifier directement dans grille.css
      */
    .rangee {
        flex-wrap: wrap;
    }
}
.main__h1{
    width: 100%; /* pour que le h1 prenne sa place sur tout la première rangée */
}
.h1 {
   width: 100%;
}

 @media (min-width: 700px) {
   body {
       line-height: 1.5;
   }
  

}

/*form*/ 
.main__form{
   background: rgb(218, 218, 218);
  
  
}

.form__fieldset{
   border: none;
}

.form__nomComplet,
.form__telephone,
.form__date,
.question{
   border-radius: 6px;
   border-color: rgb(0, 0, 0);
}

.form__label input{
   color: rgb(28, 105, 136);
}


.header__img{
   width:100% ;
}

.main__p{
   padding-left:2em;
}

.form__ul{
    padding-left: 0;
    list-style: none;
}

   
   /*footer*/
.footer__CR,
.footer__p{
   text-align: center;
}